{% extends 'blog/base.html' %}

{% block title %}
About
{% endblock %}
{% block content %}
 <style>
   .column
{
margin-top: 10%;
position: relative;
right: 10%;
}

   .ap {
font-family: 'Lobster', cursive;
   font-size: 17px;
   text-indent: 1.5em;
   text-align: center;

   }
   ul {
list-style-type: none;
}
  </style>
<div class="column">
<p class="ap">Приватна майстерня «Demidoff» займається виготовленням якісних товарів з натуральної шкіри. Ми виготовляємо речі виключно ручної роботи. Ремні із натуральної шкіри, товщина 3,5 мм. Край закруглений для зручності і охайності виробу. Пофарбовані якісними натуральними фарбами: чорного, коричневого та темно-коричневого кольорів. Відполіровані бджолиним воском. Покриті додатково спеціальним складом (фініш) для довгого використання виробу. Пряжка із міцного металу під бронзу. Класичний ремінь, який виготовлений на довгі роки.
</p>

 <hr size=22px width=100% align="center">
    <p class="ap">


<ul>
    <li class="ap">Часна майстерня ручної робти</li>
<li class="ap">Сировина Українського виробництва</li>
<li class="ap">Краски воск та апритура Італійського виробництва</li>
<li class="ap">Гарантія 3 місяці на виріб</li>
<li class="ap">Строк служби 7 років</li>
<li class="ap">Можливе пошиття ремня на ваше замовлення та з вашою фурнітурою</li>

<li class="ap">

    Можливість оптової продажі</li>
</ul>
</p>
<hr size=22px width=100% align="center">


</div>
{% endblock %}


