{% extends 'blog/base.html' %}

{% block title %}
About
{% endblock %}
{% block content %}
 <style>
   .column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
   }
   .ap {
   font-size: 17px;
   text-indent: 1.5em;
   }
  </style>
<div class="column">
<p class="ap">Приватна майстерня «Demidoff» займається виготовленням якісних товарів з натуральної шкіри. Ми виготовляємо речі виключно ручної роботи. Ремні із натуральної шкіри, товщина 3,5 мм. Край закруглений для зручності і охайності виробу. Пофарбовані якісними натуральними фарбами: чорного, коричневого та темно-коричневого кольорів. Відполіровані бджолиним воском. Покриті додатково спеціальним складом (фініш) для довгого використання виробу. Пряжка із міцного металу під бронзу. Класичний ремінь, який виготовлений на довгі роки.
</p>
    <p class="ap">



<li class="ap">Часна майстерня ручної робти</li>
<li class="ap">Сировина Українського виробництва</li>
<li class="ap">Краски воск та апритура Італійського виробництва</li>
<li class="ap">Гарантія 3 місяці на виріб</li>
<li class="ap">Строк служби 7 років</li>
<li class="ap">Можливе пошиття ремня на ваше замовлення та з вашою фурнітурою</li>

<li class="ap">

    Можливість оптової продажі</li>
</p>
</div>

{% endblock %}


