{% extends 'blog/base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}




<div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-8">
    <h3 class="text-primary">
       Консультации и заказ по телефонам
    </h3>

<h4>
		<nobr class="header-phones-i">(063) 508-29-44</nobr> <span class="glyphicon glyphicon-phone"></span>
   <p></p><nobr class="header-phones-i">demidoff.gmail.com</nobr>  <span class="glyphicon glyphicon-envelope"></span>



    </h4>

<div class="developer">
    <h3 class="text-primary">
       Технический отдел
    </h3>

		<h4><nobr class="header-phones-i">(050) 837-41-90 - Демидов Євгений Валерьевич (Developer) <span class="glyphicon glyphicon-phone"></span> </nobr>
    </p><nobr>Evgen_Demidov@ukr.net</nobr> <span class="glyphicon glyphicon-envelope"></span>  <p>
    </p><nobr>evgendemidovs@gmail.com</nobr>  <span class="glyphicon glyphicon-envelope"></span> <p>
    </p><nobr> skype - jeka.demidov1</nobr> <span class="glyphicon glyphicon-earphone"></span> <p></h4>
				</div>
<div class="delivery">
    <h3 class="text-primary">
       Служба доставки
    </h3>

	<h4><nobr class="header-phones-i">(063) 514-41-71 - Янина</nobr> <span class="glyphicon glyphicon-phone"></span></h4>
				</div>
</div>
</div>
{% endblock %}