
{% extends 'blog/base.html' %}
from django.core.mail import send_mail
{% block title %}
Order
{% endblock %}
{% block content %}

<style>
    .price1 {
        font-size: 20px;
    display: inline-block;
    verticval-align: middle;
    position: absolute;
    left: 100%;
    top: 23%;
    }

.row {
position: relative;
left: 15%;
display: block;
width: 30%;
margin-bottom: 5%;
margin-top: 10%px;
top: 5%;
}
.summa {
position: relative;
left: 130px;
font-size: 30px;
}
.GRN {
position: relative;
left: 140px;
font-size: 30px;
}
#emailf
{
position: relative;
top: -20px;
left: -155px;
font-size: 20px;
margin: 30px;
}
#namef {
position: relative;
top: -20px;
left: -110px;
font-size: 20px;
}
#address {
position: relative;
top: -20px;
left: -110px;
font-size: 20px;
}
#address2 {
position: relative;
top: 60px;
left: 70px;
font-size: 20px;
}
.radio {
position: relative;
top: 10px;
left: -20px;
font-size: 20px;
}
#accept {
position: relative;
left: 400px;
bottom: -120px;
}
.button.alt {
display: inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	min-width:60px;
	padding: 12px 23px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	line-height: 16px;
	text-decoration: none;
	right: 45%;
	color: #FFF;
	margin-bottom: 5%;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75);
	background: #5e0d0c;
	outline: none;
	border-radius: 15px;
	border: 1px solid #4c0300;
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #a23227, /* inner glow */
		inset 0 60px 60px -40px #ac3223, /* gradient */
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */

	position: relative;
	overflow: visible; /* IE9 & 10 */
	-webkit-transition: 500ms linear;
	   -moz-transition: 500ms linear;
	     -o-transition: 500ms linear;
					transition: 500ms linear;
}
#place_order {
    float: right;
}
#bottoms {
position: relative;
    bottom: 400px;
    left: -550px;
    margin-bottom: 35px;
    }
.floating-box {
    display: inline-block;
    }
.container-fluid {
position: relative;
left: 9%;
}
.total
{
margin-top: 10%;
}
img {
position: relative;
top: 26%;
}
.img1 {
display: inline-block;
}
</style>



<div class="total">
    <h1>Сума вашей покупки: </h1><span class="summa">
    0 <span class="floating-box">&#8372;</span></span>
    <div>
   <form method="GET" action="/save_tag/">


   </form>
</div>
</div>

<div class="korzina">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/blog/source/jquery.cookie.js"></script>
<script type="text/javascript">

$(function(){

    arr1 = $.cookie('cart');
    if (!arr1){
            arr1 = '[]';
    }
     json2 = $.parseJSON(arr1);
     summa1 = 0;
    $.each(json2, function( index, value ) {
        $('.korzina').append('<div class="row"><div class="price1">'+value["price"]+'</div><div class="id" style="display:none">'+index+'</div> <div class="img1"><img src="'+value["img"]+'"></div><div class="delete">X</div></div>');
       summa1 = summa1 + parseInt(value['price']);
    });
    $('.total .summa').text(summa1);
    $('.delete').on('click', function(){

         parent = $(this).parent();
         obj= parseInt($(this).closest('.row').find('.id').text());
         arr = $.cookie('cart');
    if (!arr){
            arr = '[]';
    }
     json = $.parseJSON(arr);
     summa =  parseInt ($('.total .summa').text());
    $.each(json, function( index, value ) {
       if(index==obj){
           summa = summa - parseInt(value['price']);
           json.splice(index,1);
       }
      });
    $.cookie('cart', JSON.stringify(json), {path: '/'});
    $('.total .summa').text(summa);
    parent.remove();

   });
   });

   </script>

<form id="new_user_form">{% csrf_token %}



    <div class="container-fluid"><!-- Row 1 -->
    <div class="col-lg-4" id="userFormColumn1">


        <div class="form-group">
            <label for="firstName">Name</label>
            <input name="firstName" id="firstName" required="required" class="form-control input-normal">
            <p class="help-block">Имя</p>
        </div>


    </div>
    <div class="col-lg-4" id="userFormColumn2">


        <div class="form-group">
            <label for="lastName">Delivery address</label>
            <input name="lastName" id="lastName" required="required" class="form-control input-normal">
            <p class="help-block">Адрес Доставки</p>
        </div>


    </div>
    <div class="col-lg-4" id="userFormColumn2">



    </div>
</div>
<div class="container-fluid"><!-- Row 2 -->
    <div class="col-lg-4" id="userFormColumn1">









        <div class="form-group">
            <label for="mobile">Mobile Phone</label>
            <input name="mobile"  id="mobile" type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15" required="required" data-error="Bruh, that email address is invalid" required class="form-control input-normal">
            <p class="help-block">Телефон</p>
        </div>


    </div>
    <div class="col-lg-4" id="userFormColumn2">

        <div class="form-group">
            <label for="level">Delivery operator</label>
                <select name="level" id="level" class="form-control input-normal">
                    <option value="1">Нова Почта</item>
                    <option value="2">Мист Експрес</item>
                </select>
            <p class="help-block">Доставка</p>
        </div>
        <div class="col-sm-offset-2 col-sm-10">

            </div>
        </div>
    </div>


</div>


<!--<script src="validator.min.js"></script>-->

    <script type="text/javascript">

$(function(){
    $(document).on('submit','#new_user_form',function(e){
        e.preventDefault();
        var da = "при";
        $.ajax({
            type:'POST',
            url:'/user/',
            data:{
                zakaz:$.cookie('cart'),
                name:$('#firstName').val(),
                delivery:$('#lastName').val(),
                number:$('#mobile').val(),
                summa:parseInt ($('.total .summa').text()),

                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                $.cookie('cart', JSON.stringify([]), { path : '/' });
                    location.href = "thanks/";
                }

        });
    });
});

    </script>

    <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Подтвердить  Заказ" data-value="Заказать">

    </form>

{% endblock %}

