{% extends 'blog/base.html' %}
{% block title %}
Belt
{% endblock %}
{% block content %}

<style>
    .vh1 {
    position: relative;
    left: 19%;
    }
    iframe {
    margin-bottom: 5%;
    margin-bottom: 5%;
    }
</style>
<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">


<h2 class="vh1">Как мы делаем наши ремни</h2>
<br>



<iframe width="700" height="500" src="https://www.youtube.com/embed/tuc_8TRzL-M" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}